# Dependencies
node_modules/

# Parcel cache
.parcel-cache/

# Build output
dist/

# Environment files
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# OS files
.DS_Store
Thumbs.db