.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.cards {
    width: 220px;
    background-color: rgb(59, 59, 184);
    color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.cards img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.but{
    margin-top: 20px;


}
.inpu{
    margin-left: 40vw;
    width:200px;
    height:20px;
   
   
}
button{
    height: 30px;
    background-color: rgb(87, 87, 198);
    color: azure;
    
    margin-left: 40px;
}
#heading{
    background-color: rgb(76, 76, 199);
    color: white;
    height: 100px;
    text-align: center;
   
}
